{% extends "base_auth.html" %} 
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4 mt-5">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title py-2">
          <h4>Reset your new password</h4>
        </div>

        <form action="{% url 'reset-password' %}" method="POST">
          {% csrf_token %}

          {% include "partials/_message.html" %}
         
          <div class="mb-3">
            <div class="form-group">
              <input
                type="email"
                name="email"
                placeholder="Email"
                id="emailField"
                class="form-control form-control-sm"
                value="{{values.email}}"
              />
            </div>
            <div class="emailFeedbackArea invalid-feedback" style="display:none">
            </div>
          </div>

          <div class="d-grid gap-2">
            <input type="submit" value="Confirm" class="btn btn-block btn-primary submit-btn" />
          </div>
        </form>
        <a href="{% url "login" %}">Login</a>
        <a href="{% url "register" %}" class="">Register</a>
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>
</div>
<script src="{% static "js/register.js" %}"></script>
{% endblock content %}
