{% extends "base.html" %} {% block content %}
{% load static %}
<div class="container mt-4">
  
  <div class="row">
    <div class="col-md-10">
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "expenses" %}" style="text-decoration:none">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Income</li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
        <a href="{% url "add-income" %}" class="btn btn-primary">Add Income</a>
    </div>
    
  </div>
  
  <div class="container mt-3">
    {% include "partials/_message.html" %}
    {% if income %}
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" id="searchField" placeholder = "Search" >
        </div>
      </div>
    </div>
    <div class="app-table">
      <table class="table table-stripped table-hover" >
      <thead>
        <tr>
          <th>Amount ({{currency}})</th>
          <th>Description</th>
          <th>Source</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      
        {% for income in page_obj %}
          <tbody>

            <tr >
              <td>{{income.amount}}</td>
              <td>{{income.description}}</td>
              <td>{{income.source}}</td>
              <td>{{income.date | date:'d-m-Y'}}</td>
              <td><a href="{% url "edit-income" income.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
            </tr>
 
          </tbody>
       {% endfor %}
      </table>
    </div>
    
    <p class="no-results" style="display: none;">No results </p>
    <div class="table-output">
      <table class="table table-stripped table-hover" >
        <thead>
          <tr>
            <th>Amount ({{currency}})</th>
            <th>Description</th>
            <th>Source</th>
            <th>Date</th>
            
          </tr>
        </thead>
        
          {% for income in page_obj %}
            <tbody class="table-body">
  
              
   
            </tbody>
         {% endfor %}
      </table>
    </div>

    <div class="row pagination-container">
      <div class="col-md-6">
        <span class="pagination mt-1">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
            
      </div>
    <div class="col-md-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}


          {% if page_obj.number != 2 %}
          <li class="page-item">
            <a href="?page=1" class="page-link">1</a>
          </li>
          {% endif %}
          <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">{{ page_obj.previous_page_number }}</a>
          </li>
        {% endif %}
        
        {% if page_obj.has_next %}
          <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a>
          </li>
          <li class="page-item">
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a>
          </li>
        {% endif %}
      </ul>
    </nav>
      </div>
    </div>
    
    
    {% endif %}
  </div>


</div>
<script src = "{% static "js/searchIncome.js" %}"></script>
{% endblock content %}
